.toolbar {
  background: #EEF0F5;
  --background: #EEF0F5;
  box-shadow: none;
}


  ion-button {
   --ion-color-primary: #16CDB4;
   margin-top: 140%;
   margin-left: 40%;
   border-radius: 28px 28px 28px 28px;
  }

ion-content {
  background: #EEF0F5;
  --background: #EEF0F5; 
}
ion-item {
  background: #EEF0F5;
  --background: #EEF0F5;
  p {
    margin-top: 120px;
  }
}


